version: "3.8"

services:
  nettools:
    image: mbraut/nettools:latest
    container_name: nettools
    restart: unless-stopped
    network_mode: host
    volumes:
      - nettools-data:/data
    environment:
      - TZ=Europe/Madrid
      - NETTOOLS_PORT=6060
      - NETTOOLS_BACKEND_PORT=6061

volumes:
  nettools-data:
    driver: local
